@import "tailwindcss";

html {
  cursor: url('assets/cursor.png'), default;
}

body {
  background-color: #edc3ab;
  background-image: url('assets/grid.png'), linear-gradient(rgba(237, 195, 171, 0.5), rgba(237, 195, 171, 0.5));
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  font-family: 'Antipasto';
  color: #323230;
}

a, button {
  cursor: url('assets/cursor.png'), pointer;
}